#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  
}

html{
  font-size: 10px;
}

.header{
  height: 40vh;
  background-image: url('./assets/img/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo-box{
  position: absolute;
  top: 20%;  
  left: 35%;

}

.logo{
  width: 45rem;
  height: 17rem;
}

.info-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  align-content: center;
  justify-self: center;

  width: 80rem;
  height: 12rem;
  background: #062226;
  margin: 5.6rem auto;
}

.search-box{
  display: flex;
  justify-content: center;
  width: 70rem;
  height: 11rem;
  background: #062226;
  margin: 4rem auto;
}

.search{
  align-self: center;
  width: 80%;
  height: 30%;
  background-color: #443737;
  }

.search-btn{
  align-self: center;
  width: 9rem;
  height: 4.5rem;
  background-color: #443737;
  font-size: 1.7rem;
  color: white;
  border: 2px white solid ;

}