#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  
}

html{
  font-size: 10px;
}

.header{
  height: 40vh;
  background-image: url('./assets/img/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo-box{
  position: absolute;
  top: 20%;  
  left: 35%;

}

.logo{
  width: 45rem;
  height: 17rem;
}

.info-box{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: end;
  align-content: center;
  justify-self: center;

  width: 80rem;
  height: 12rem;
  background: #062226;
  margin: 5.6rem auto;
}

.search-box{
  display: flex;
  justify-content: center;
  width: 70rem;
  height: 11rem;
  background: #062226;
  margin: 4rem auto;
}

.search{
  align-self: center;
  width: 80%;
  height: 30%;
  background-color: #443737;
  }

.search-btn{
  align-self: center;
  width: 9rem;
  height: 4.5rem;
  background-color: #443737;
  font-size: 1.7rem;
  color: white;
  border: 2px white solid ;

}

.residen-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem 0;
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
}

.resident-content{
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.residen-img{

 
}

.residen{

}

.resident-text{
  text-align: left;
}

.status{
  height: 1.5rem;
  width: 8rem;
  position: absolute;
  top: 1rem;
  left: 0;
  background: #062226;
  border-radius: 0 12px 12px 0;
  padding-left: 2rem;
  font-size: 1.1rem;
}

.circle-Alive{
  width: 0;
  height: 0;
  border: .5rem solid green;
  border-radius: 50%;
  position: absolute;
  left: .4rem;
  top: .2rem;
}

.circle-Dead{
  width: 0;
  height: 0;
  border: .5rem solid red;
  border-radius: 50%;
  position: absolute;
  left: .4rem;
  top: .2rem;
}

.circle-unknown{
  width: 0;
  height: 0;
  border: .5rem solid grey;
  border-radius: 50%;
  position: absolute;
  left: .4rem;
  top: .2rem;
}